@import "timeline.css";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


html {
  scroll-behavior: smooth;
}


body {
  background-color: lightgray;
}

#main {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}


#title, #img-div, #tribute-info {
  margin: 0 auto;
}
