@import "timeline.css";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


html {
  scroll-behavior: smooth;
}


body {
  background-color: lightgray;
}


header {
  width: 100%;
  min-height: 45vh;
  background-color: black;
}

header>div {
  color: white;
  margin: auto;
  font-size: 30px;
}
#main, header {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}


#title, #img-div, #tribute-info, #info, #timeline-intro {
  margin: auto;
  max-width: 85%;
}

#info, {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center;
}



h1 {
  color: black;
}

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0%;
	width: 100%;
	height: 100%;
}

div {
  margin-bottom: 1em;
  margin-top: 1em;
}
