@import "timeline.css";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


html {
  scroll-behavior: smooth;
}


body {
  background-color: lightgray;
}

#main {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}


#title, #img-div, #tribute-info, #info {
  margin: auto;
  max-width: 85%;
}

#info {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center;
}


h1 {
  color: black;
}

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0%;
	width: 100%;
	height: 100%;
}
